pool:
  vmImage: 'ubuntu-latest'

variables:
  ARTIFACT_DIR: $(Build.ArtifactStagingDirectory)
  ESRP_CONNECTION_NAME: $(esrpConnectionName)

stages:
- stage: BuildAndPackage
  jobs: 
  - job: Package
    steps:

    - task: NodeTool@0
      condition: false
      inputs:
        versionSource: 'spec'
        versionSpec: '22.x'

    - task: Npm@1
      condition: false
      inputs:
        command: 'install'

    - task: Npm@1
      condition: false
      inputs:
        command: 'custom'
        customCommand: 'run package'

    - script: |
        echo "Artifact dir is $ARTIFACT_DIR"
        echo "esrpConnectionName dir is $ESRP_CONNECTION_NAME"
        # cp vscode-edge-devtools.vsix $(ARTIFACT_DIR)
      displayName: 'Copy VSIX to Artifact Staging Directory'
      env:
        ARTIFACT_DIR: $(ARTIFACT_DIR)
        ESRP_CONNECTION_NAME: $(ESRP_CONNECTION_NAME)

    - task: EsrpCodeSigning@6
      inputs:
        ConnectedServiceName: $(ESRP_CONNECTION_NAME)
        AppRegistrationClientId: $(appRegistrationClientId)
        AppRegistrationTenantId: $(esrpTenantId)
        EsrpClientId: $(esrpClientId)
        UseMSIAuthentication: true
        AuthAKVName: $(esrpAuthAkvName)
        AuthSignCertName: $(esrpAuthCertName)
        FolderPath: $(ARTIFACT_DIR)
        Pattern: '*.vsix'
        SessionTimeout: '60'
        MaxConcurrency: '50'
        MaxRetryAttempts: '5'
        PendingAnalysisWaitTimeoutMinutes: '5'

    - task: PublishBuildArtifacts@1
      inputs:
        pathToPublish: '$(ARTIFACT_DIR)'
        artifactName: 'vsix-artifact'
        publishLocation: 'Container'
      displayName: 'Publish VSIX Artifact'





