pool:
  vmImage: 'ubuntu-latest'

variables:
  STAGING_DIR: $(Build.ArtifactStagingDirectory)
  ARTIFACT_DIR: '$(STAGING_DIR)/vsix'
  system.debug: 'true'
  

stages:
- stage: BuildAndPackage
  jobs: 
  - job: Package
    steps:

    - task: NodeTool@0
      condition: true
      inputs:
        versionSource: 'spec'
        versionSpec: '22.x'

    - task: Npm@1
      condition: true
      inputs:
        command: 'install'

    - task: Npm@1
      condition: true
      inputs:
        command: 'custom'
        customCommand: 'run package'

    - script: |
        mkdir -p "$ARTIFACT_DIR"
        echo "Created folder: $ARTIFACT_DIR"
      displayName: 'Create directory on Linux'
      env:
        ARTIFACT_DIR: $(ARTIFACT_DIR)


    - script: |
        echo "Artifact dir is $ARTIFACT_DIR"
        echo "esrpConnectionName dir is $ESRP_CONNECTION_NAME"
        cp vscode-edge-devtools.vsix $(ARTIFACT_DIR)
      displayName: 'Copy VSIX to Artifact Staging Directory'
      env:
        ARTIFACT_DIR: $(ARTIFACT_DIR)
        ESRP_CONNECTION_NAME: $(ESRP_CONNECTION_NAME)

    - pwsh: npx @vscode/vsce@latest generate-manifest -i $(ARTIFACT_DIR)/vscode-edge-devtools.vsix -o $(ARTIFACT_DIR)/vscode-edge-devtools.manifest
      displayName: 'Generate extension manifest'

    - pwsh: cp $(ARTIFACT_DIR)/vscode-edge-devtools.manifest $(ARTIFACT_DIR)/vscode-edge-devtools.signature.p7s
      displayName: 'Prepare manifest for signing'

    - task: EsrpCodeSigning@6
      condition: true
      inputs:
        ConnectedServiceName: $(ESRP_CONNECTION_NAME)
        AppRegistrationClientId: $(appRegistrationClientId)
        AppRegistrationTenantId: $(esrpTenantId)
        EsrpClientId: $(esrpClientId)
        UseMSIAuthentication: true
        AuthAKVName: $(esrpAuthAkvName)
        AuthSignCertName: $(esrpAuthCertName)
        FolderPath: $(ARTIFACT_DIR)
        Pattern: 'vscode-edge-devtools.signature.p7s'
        signConfigType: 'inlineSignParams'
        inlineOperation: |
          [
            {
              "keyCode": "$(KEY_CODE)",
              "operationSetCode": "$(OPERATION_SET_CODE)",
              "parameters" : [],
              "toolName": "sign",
              "toolVersion": "1.0"
            }
          ]
        SessionTimeout: '60'
        MaxConcurrency: '50'
        MaxRetryAttempts: '5'
        PendingAnalysisWaitTimeoutMinutes: '5'

    - task: PublishBuildArtifacts@1
      inputs:
        pathToPublish: '$(ARTIFACT_DIR)'
        artifactName: 'vsix-artifact'
        publishLocation: 'Container'
      displayName: 'Publish VSIX Artifact'

















