pool:
  vmImage: 'ubuntu-latest'

variables:
  ARTIFACT_DIR: $(Build.ArtifactStagingDirectory)

stages:
- stage: BuildAndPackage
  jobs: 
  - job: Package
    steps:

    - task: NodeTool@0
      inputs:
        versionSource: 'spec'
        versionSpec: '22.x'

    - task: Npm@1
      inputs:
        command: 'install'

    - task: Npm@1
      inputs:
        command: 'custom'
        customCommand: 'run package'

    - script: |
        echo "Artifact dir is $ARTIFACT_DIR"
        cp vscode-edge-devtools.vsix $(ARTIFACT_DIR)
      displayName: 'Copy VSIX to Artifact Staging Directory'
      env:
        ARTIFACT_DIR: $(ARTIFACT_DIR)

    - task: PublishBuildArtifacts@1
      inputs:
        pathToPublish: '$(ARTIFACT_DIR)'
        artifactName: 'vsix-artifact'
        publishLocation: 'Container'
      displayName: 'Publish VSIX Artifact'

    - task: EsrpCodeSigning@6
      inputs:
        ConnectedServiceName: '$(esrpConnectionName)'
        AppRegistrationClientId: '$(esrpClientId)'
        AppRegistrationTenantId: '$(esrpTenantId)'
        EsrpClientId: '$(esrpClientId)'
        UseMSIAuthentication: true
        AuthAKVName: '$(esrpAuthAkvName)'
        AuthSignCertName: '$(esrpAuthCertName)'
        FolderPath: '$(Build.ArtifactStagingDirectory)'
        Pattern: '*.vsix'
        SessionTimeout: '60'
        MaxConcurrency: '50'
        MaxRetryAttempts: '5'
        PendingAnalysisWaitTimeoutMinutes: '5'




